<link rel="stylesheet" href="{{ url_for('header.static', filename='css/header.css') }}"/>

<div id="header">
    <div id="logo">
        <a href="{{url_for('homepage.index') }}">
            <p style="text-align:center;"><img id="logo_img" src="static/media/img/מליכה.png" alt=" logo">
        </a>
    </div>
    {%if session.login%}
        <div class="topnav">
            <p style="text-align:center; color:white;">
                <a href="{{ url_for('homepage.index') }}">Homepage</a>
                <a href="{{ url_for('catalog.index') }}">Catalog</a>
                <a href="{{ url_for('edit.index') }}">My profile</a>
                <a href="{{url_for('cart.index')}}">Shopping Cart</a>
                <a href="/logout">logout</a>
        </div>
    {%else%}
        <div class="topnav">
            <p style="text-align:center; color:white;">
                <a href="{{ url_for('homepage.index') }}">Homepage</a>
                <a href="{{ url_for('catalog.index') }}">Catalog</a>
                <a href="{{ url_for('login.index') }}">Log-in / Register</a>

        </div>
    {%endif%}

</div>


